*{
  font-family: Calibri, Helvetica, sans-serif;
  word-spacing: 15px;
}
nav{
  font-size: 150%;
  color: blue;
}
h1{
  color: red;
  text-align: center;
}
html{
  background-image: url(https://i.blogs.es/e9274d/vendo-opel-corsa-1/450_1000.jpg);
  background-color: black;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
p{
  color: purple;
}
a{
  width: 200px;
}
.java{
  display: block;
  height: 30px;
}
.c{
  display: inline;
    height: 30px;
}
.python{
  display: inline-block;
    height: 30px;
}
.opel{
  width: 30px;
  height: 500px;
}
.ford{
  width: 15;

}
.fiat{
  width: 5px;
}
.patata{
  float: right;
  clear:right;
}
.cacahuete{
  float: left;
}
.mango{
  float: none;
  clear: both;
}
