div{
  display: inline-block;
  background-color:#79dac2;
  height: 200px;
  width: 200px;
  padding-top: 125px;
  text-align: center;
  border-style: outset;
  border-color: #1583ff;
  border-width: 10px;
}

#div1{
  border-radius: 25px;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#div2{
  background-image:linear-gradient(#ff1515, #f6ff15, #ff1515);
}

#div3{
  transition-property: color, height, background-image;
  transition-duration: 5s;
  transition-delay: .3s;
}

#div3:hover{
  color: #069e10;
  height: 800px;
  background-image:radial-gradient(#f6ff15, #ff1515, #f6ff15);
}

#div4{
  transform: rotate(25deg) translateY(300px) scaleY(1.5) skewX(10deg);
}
