body{
  background-image: url("../imagenesDBZ/fondoWeb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #860606;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

figure img{
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
}

nav {
 box-sizing: border-box;
 background-color: #860606;
 margin: 0.5%;
 padding: 0.5%;
 width: 350px;
 border-style: solid;
 border-color: #3F0101;
 border-radius: 10px;
}

nav a{
   color: #fff;
}

nav:hover{
   background-color: #3F0101;
}

article nav {
 box-sizing: border-box;
 background-color: #860606;
 margin: 0.5%;
 padding: 0.5%;
 width: 350px;
 border-style: solid;
 border-color: #3F0101;
 border-radius: 10px;
}

article nav a{
   color: #fff;
}

article nav:hover{
   background-color: #3F0101;
}

h2 {
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
  letter-spacing: 2px;
}

article{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 1000px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

input {
  width: 400px;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;

}

input[type=text]:focus {
  border: 5px solid #3F0101;
   background-color: lightblue;
}

label {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 2px;
  font-size: 14px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

input[type=submit] {
  background-color: #4CAF50;
  border-width: 3px;
  border-style:outset;
  border-color: darkgreen;
  border-radius: 10px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

select {
  width: 50%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#radio {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 2px;
  font-size: 14px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
  width:300px;
}
