body{
  background-image: url("../imagenesDBZ/fondoWeb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#gokuTitulo{
  display: block;
  position: absolute;
  left: 1750px;
  top: 95px;

}

header {
  background-color: #860606;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

figure img{
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
}

article{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 1000px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

nav {
  box-sizing: border-box;
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  width: 350px;
  border-style: solid;
  border-color: #3F0101;
  border-radius: 10px;
}

nav a{
    color: #fff;
}

nav:hover{
    background-color: #3F0101;
}

table {
  border-color: #3F0101;
  border-width: medium;
  border-collapse: collapse;
  background-color:  #FCDCA1;
}

th {
  width: 100px;
  height: 50px;
}

th:nth-child(even) {background-color: #F4C163;}

#noms {
  font-size: 20px;
  border-bottom: 5px;
}
