body{
  background-image: url("../imagenesDBZ/fondoWeb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #860606;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

figure img{
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
}

h2 {
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
  letter-spacing: 2px;
}

#links {
  background-color: transparent;
  border: 0;
  width: 500px;
  position: sticky;
  left: 1750px;
  top: 50px;
}

#imgrelleno {
  position: absolute;
  top: 1000px;
  left: 300px;
}

article{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 1000px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

 nav {
  box-sizing: border-box;
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  width: 350px;
  border-style: solid;
  border-color: #3F0101;
  border-radius: 10px;
}

 nav a{
    color: #fff;
}

 nav:hover{
    background-color: #3F0101;
}

article nav {
  box-sizing: border-box;
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  width: 350px;
  border-style: solid;
  border-color: #3F0101;
  border-radius: 10px;
}

article nav a{
    color: #fff;
}

article nav:hover{
    background-color: #3F0101;
}

#personaje {
  left: 1150px;
  top: auto;
  bottom: 50px;
}
