body{
  background-image: url("../imagenesDBZ/fondoWeb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #860606;
  margin: 1%;
  padding: 1%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

figure img{
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
}

article{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 1000px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

article nav {
  box-sizing: border-box;
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  width: 350px;
  border-style: solid;
  border-color: #3F0101;
  border-radius: 10px;
}

article nav a{
    color: #fff;
}

article nav:hover{
    background-color: #3F0101;
}

#Personajes{
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

#Jugabilidad{
  background-color: #860606;
  margin: 0.5%;
  padding: 0.5%;
  font-family: fantasy;
  border-radius: 10px;
  border-style: solid;
  border-color: #3F0101;
  color: #fff;
}

#combate{
  position: absolute;
  left: 1150px;
  top: auto;
}

#menu{
margin-bottom: 50px;

}

#menu ul {
  list-style:none;
  margin: 20px;
}

#menu ul li{
  background-color: #860606;
  position: relative;
  float: left;
  border: 5px;
  border-color: #3F0101;
  border-style: solid;
    border-radius: 10px;
}

#menu ul a{
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menu ul li:hover {
  background-color: #3F0101;
}

#menuFooter {
  margin: 10px;
}

#menuFooter ul li{
  background-color: #860606;
  position: relative;
  float: left;
  border: 5px;
  border-color: #3F0101;
  border-style: solid;
    border-radius: 10px;
}

#menuFooter ul li:hover {
  background-color: #3F0101;
}

#menuFooter ul a{
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#menuFooter ul {
  list-style:none;
  margin: 20px;
}

#autor{
  background-color: #FFFFFF;
  margin: 0.5%;
  padding: 0.5%;
  width: 250px;
  font-size: 18px;
  border-radius: 3px;
  border-style: solid;
  border-color: #3F0101;
  word-spacing: 2px;
  font-family: serif;
}

#gokuTitulo{
  display: block;
  position: absolute;
  left: 1700px;
  top: 35px;
}
