header{
  height: 200px;
  background-color: #c76a6a;
  padding: 65px;
  margin: 15px;
  border-width: 20px;
  border-style: outset;
  border-color: #ff0000;
}
nav{
  height: 100px;
  background-color: #16c15a;
  padding-top: 20px;
  padding-left: 50px;
  margin: 15px;
  border-width: thick;
  border-style: ridge;
  border-color: #00d41d;
}
img{
  height: 75px;
  float: left;
}
h1{
  font-size: 70px;
  font-style: italic;
}
.cl1{
  font-family: monospace;
  font-variant: small-caps;
  font-style: normal;
  font-size: 14px;
  color: #e2ff00;
  background-color: black;
  text-align: center;line-height: 30px;
}
a{
  display: flex;
  height: 22px;
  width: 30px;
}
a:hover{
  color: #00ffd7;
}
a:visited{
  color: #ff0000;
  font-style: italic;
}
ul{
  list-style-image: url("https://vignette.wikia.nocookie.net/hollowknight-esp/images/6/64/Favicon.ico/revision/latest?cb=20170512012142&path-prefix=es");
}
